body {
  margin: 0;
}
header {
  display: flex;
  padding: 10px 0 4px 0;
  border-bottom: 1px solid gray;
  align-items: center;
}
.left {
  flex: 40%;
  display: flex;
  justify-content: center;
  position: relative;
}
.left > img {
  width: 30px;
  height: 30px;
}
.right {
  display: flex;
  flex: 60%;
  gap: 30px;
  align-items: center;
}
i {
  text-align: center;
}
.item > p {
  margin: 3px 0 3px 0;
  font-size: 10px;
  font-weight: 700;
}
.item {
  text-align: center;
}
main {
  display: flex;
  background-color: #f9f5f0;
  padding-left: 120px;
}
.left-side > p,
h3 {
  text-align: center;
}
input {
  height: 25px;
  padding-left: 10px;
  margin-left: 8px;
  position: relative;
}
.spec {
  border-left: 1px solid grey;
  padding-left: 8px;
}
.glass{
  position: absolute;
  left: 200px;
  top: 8px;
  padding-left: 6px;
  z-index: 4;
}
.user{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}